# Control Flow

# Functions

# List
A list is an ordered set of objects in Python.

## Create List

In [38]:
heights_cm=[161,170,167,164,165]
heights_cm

[161, 170, 167, 164, 165]

### List Attributes

In [39]:
print(type(heights_cm))
print('Number of elements in the list ', len(heights_cm))
print('Maximum element in the list ', max(heights_cm))
print('Minimum element in the list ', min(heights_cm))
print('Sum of Elements', sum(heights_cm))

<class 'list'>
Number of elements in the list  5
Maximum element in the list  170
Minimum element in the list  161
Sum of Elements 827

### Range in python
1. Set of numbers
2. The function range takes a single input, and generates numbers starting at `0` and ending at the number before the input. i.e, `n-1`
3. Very important for loops

In [40]:
range(10)

range(0, 10)

In [41]:
print(type(range(10)))

<class 'range'>

### Make list using range

In [42]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
type(list(range(10)))

list

In [44]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
list(range(2,10,2))

[2, 4, 6, 8]

## Slicing and Selecting

### Select item for given index

In [46]:
heights_cm

[161, 170, 167, 164, 165]

In [47]:
first_object=heights_cm[0]
print(first_object)

161

In [48]:
last_object=heights_cm[-1]
print(last_object)
last_object2=heights_cm[len(heights_cm)-1]
print(last_object)

165
165

In [49]:
len(heights_cm)

5

### Slicing

In [50]:
heights_cm[::2]

[161, 167, 165]

In [51]:
heights_cm[2:4]

[167, 164]

In [52]:
heights_cm[4]

165

### Get Index of an item
```python3
list.index(item)
```

In [53]:
heights_cm.index(165)

4

### Can list elements be accessed in any order?
1. A list whose items are randomly accessed using the `randint()` function. 
2. `randint()` returns a random integer in range [start, end] including the end points.

In [54]:
elements = ['Hydrogen', 'Helium', 'Carbon', 'Oxygen','Nitrogen']

In [55]:
from random import randint
index = randint(0, len(elements) - 1)
print("Element selected randomly is :", elements[index],"; whose index is: ",index)
index = randint(0, len(elements) - 1)
print("Element selected randomly is :", elements[index],"; whose index is: ",index)

Element selected randomly is : Nitrogen ; whose index is:  4
Element selected randomly is : Nitrogen ; whose index is:  4

In [56]:
for count in range(5):
    index = randint(0, len(elements) - 1)
    print("for Count: ",count,", The element selected randomly is: ", elements[index],"; whose index is: ",index)

for Count:  0 , The element selected randomly is:  Nitrogen ; whose index is:  4
for Count:  1 , The element selected randomly is:  Carbon ; whose index is:  2
for Count:  2 , The element selected randomly is:  Nitrogen ; whose index is:  4
for Count:  3 , The element selected randomly is:  Nitrogen ; whose index is:  4
for Count:  4 , The element selected randomly is:  Carbon ; whose index is:  2

## Multiple DataTypes

A list can contain **multiple datatypes**.

In [57]:
ints_strings=[1,2,3,4,'1','one','two','2']
print(ints_strings)
print(type(ints_strings))
print(type(ints_strings[ints_strings.index('one')]))
print(type(ints_strings[ints_strings.index(1)]))

[1, 2, 3, 4, '1', 'one', 'two', '2']
<class 'list'>
<class 'str'>
<class 'int'>

## List within List

Several lists into one list

Below is a list of list of person names and their height

In [58]:
names_heights=[['Dengri',174],['Obama',178],['Biden',181],['Modi',169]]
print(names_heights)
print(type(names_heights))

[['Dengri', 174], ['Obama', 178], ['Biden', 181], ['Modi', 169]]
<class 'list'>

### Slicing and selection

In [59]:
names_heights[0]

['Dengri', 174]

In [60]:
names_heights[0][0]

'Dengri'

In [61]:
names_heights[::2]

[['Dengri', 174], ['Biden', 181]]

In [62]:
names_heights[0:2]

[['Dengri', 174], ['Obama', 178]]

### How to create list within list

#### Zip Command
1. `zip` takes **two (or more) lists as inputs** and **returns an object that contains a list of pairs**. Each pair contains one element from each of the inputs.To see the nested lists, **you should convert the zip object to a list** first.

**<span style="color:Red">NOTE:</span>** If both the lists don’t have the same number of elements even then the zip command will work. In that case it will return a list of pairs based on the smallest length of the list.

In [63]:
names = ['Jenny', 'Alexus', 'Sam', 'Grace']
dogs_names = ['Elphonse', 'Dr. Doggy DDS', 'Carter','Ralph']
print(names)
print(dogs_names)

['Jenny', 'Alexus', 'Sam', 'Grace']
['Elphonse', 'Dr. Doggy DDS', 'Carter', 'Ralph']

In [64]:
names_dogs_names=zip(names,dogs_names)
print(type(names_dogs_names))

<class 'zip'>

In [65]:
names_dogs_names_list=list(names_dogs_names)
print(names_dogs_names_list)
print(type(names_dogs_names_list))

[('Jenny', 'Elphonse'), ('Alexus', 'Dr. Doggy DDS'), ('Sam', 'Carter'), ('Grace', 'Ralph')]
<class 'list'>

In [66]:
print(type(names_dogs_names_list[0]))

<class 'tuple'>

In [67]:
names = ['Jenny', 'Alexus', 'Sam']
dogs_names = ['Elphonse', 'Dr. Doggy DDS', 'Carter','Ralph']
print(len(names))
print(len(dogs_names))
names_dogs_names_list=list(zip(names,dogs_names))
print(names_dogs_names_list)
print(len(names_dogs_names_list))

3
4
[('Jenny', 'Elphonse'), ('Alexus', 'Dr. Doggy DDS'), ('Sam', 'Carter')]
3

## Append
We can add a **single element** to a list using `.append()`. Our new element is added to the **end of the list**.

In [68]:
orders = ['daisies', 'periwinkle']
print(orders)
orders.append('tulips')
print(orders)
orders.append('roses') 
print(orders)

['daisies', 'periwinkle']
['daisies', 'periwinkle', 'tulips']
['daisies', 'periwinkle', 'tulips', 'roses']

### Adding two list
1. When we want to **add multiple items to a list**, we can use `+` to combine two lists. 
2. We can only use `+` with other lists. 
3. If we want to add a **single element** using `+`, we have to put it into a list with brackets ([])

In [69]:
orders = ['daisy', 'buttercup', 'snapdragon','gardenia', 'lily']
print (orders)
new_orders = orders + ['lilac', 'iris']
print (new_orders)
broken_prices = [5, 3, 4, 5, 4] + [4]
print (broken_prices)

['daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily']
['daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily', 'lilac', 'iris']
[5, 3, 4, 5, 4, 4]

## Count Function
1. How many times a item is present inside the list.
2. `.count()` is **case sensitive** i.e. jakes != Jakes.

**<span style="color:Red">NOTE:</span>** count does not show error for an item which is not in the list

In [70]:
votes = ['Abhinav','Okachi','Maki','Dan','Maki','Dan','Maki','Dan','Abhinav','Okachi','Maki','Abhinav','Okachi','Maki']
print(votes)

['Abhinav', 'Okachi', 'Maki', 'Dan', 'Maki', 'Dan', 'Maki', 'Dan', 'Abhinav', 'Okachi', 'Maki', 'Abhinav', 'Okachi', 'Maki']

In [71]:
print(votes.count('Abhinav'))
print(votes.count('Okachi'))
print(votes.count('Maki'))
print(votes.count('dan'))

3
3
5
0

## Sorting of list
We can sort a list in place using `.sort()`
1. `.sort()` returns `none` $\rightarrow$ it changes the original list

**<span style="color:Red">NOTE:</span>** `.sort()` complex output is list is combination of Intergers and strings.

In [72]:
cities = ['London', 'Paris', 'Rome', 'Los Angeles', 'NewYork']
cities

['London', 'Paris', 'Rome', 'Los Angeles', 'NewYork']

In [73]:
cities.sort()

In [74]:
cities_sort=cities.sort()
cities_sort

In [75]:
cities

['London', 'Los Angeles', 'NewYork', 'Paris', 'Rome']

In [76]:
addresses = ['221 B Baker St.', '42 Wallaby Way', '12 Grimmauld Place', '742 Evergreen Terrace', '1600 Pennsylvania Ave', 
             '10 Downing St.']
addresses

['221 B Baker St.',
 '42 Wallaby Way',
 '12 Grimmauld Place',
 '742 Evergreen Terrace',
 '1600 Pennsylvania Ave',
 '10 Downing St.']

In [77]:
addresses.sort()
addresses

['10 Downing St.',
 '12 Grimmauld Place',
 '1600 Pennsylvania Ave',
 '221 B Baker St.',
 '42 Wallaby Way',
 '742 Evergreen Terrace']

`.sort()` sorts the list items using the first character of each item in the list

### Reverse Sort

In [78]:
cities.sort(reverse=True)
cities

['Rome', 'Paris', 'NewYork', 'Los Angeles', 'London']

### Sorting a list based on the sublist

In [79]:
names_and_ages=[["Sam" , 23], ["Vik", 30], ["Phil", 26],["John", 18]]

In [80]:
names_and_ages.sort()
names_and_ages

[['John', 18], ['Phil', 26], ['Sam', 23], ['Vik', 30]]

The `.sort()` function sorts on the `list[:][0]`, i.e., first item in each sublist

**How can we sort `names_and_ages` list on the basis of age?**

**<span style="color:Red"> NOTE: </span>** `key` parameter

In [81]:
def function_sort_index(item):
    return item[1]
names_and_ages.sort(key=function_sort_index)

In [82]:
names_and_ages

[['John', 18], ['Sam', 23], ['Phil', 26], ['Vik', 30]]

### Use sorted
Sorted is different from `.sort()` in several ways:
1. Syntax is different. It comes before a list, instead of after
```python3
.Syntax: sorted(list_name)
```
2. It generates a **new list**.

<span style="color:Red"> NOTE:</span> using sorted, the original list does not get sorted

In [83]:
cities = ['London', 'Paris', 'Rome', 'Los Angeles', 'NewYork']
cities_sorted=sorted(cities)
cities_sorted_reverse=sorted(cities,reverse=True)

In [84]:
cities

['London', 'Paris', 'Rome', 'Los Angeles', 'NewYork']

In [85]:
cities_sorted

['London', 'Los Angeles', 'NewYork', 'Paris', 'Rome']

In [86]:
cities_sorted_reverse

['Rome', 'Paris', 'NewYork', 'Los Angeles', 'London']

In [87]:
names_and_ages=[["Sam" , 23], ["Vik", 30], ["Phil", 26],["John", 18]]
names_and_ages_sorted=sorted(names_and_ages)
names_and_ages_sorted_agewise=sorted(names_and_ages,key=function_sort_index)

In [88]:
names_and_ages

[['Sam', 23], ['Vik', 30], ['Phil', 26], ['John', 18]]

In [89]:
names_and_ages_sorted

[['John', 18], ['Phil', 26], ['Sam', 23], ['Vik', 30]]

In [90]:
names_and_ages_sorted_agewise

[['John', 18], ['Sam', 23], ['Phil', 26], ['Vik', 30]]

## Remove element from the list

## Remove by index

In [101]:
cities

['London', 'Paris', 'Rome', 'Los Angeles']

In [102]:
del cities[-1]

In [103]:
cities

['London', 'Paris', 'Rome']

In [104]:
cities.remove('Paris')

In [105]:
cities

['London', 'Rome']

## Practice Programs

1. Create a function named `double_index` that has two parameters named `lst` and `index`. The function should return a new list where all elements are the same as in lst except for the element at index, which should be double the value of the element at index of lst. If the index is not a valid index, the function should return the original list. Use: print(double_index([3, 8, -10, 12], -4))
2. Create a function named `remove_middle` which has three parameters named `lst`, `start`, and `end`. The function should return a list where all elements in lst with an index between start and end (inclusive) have been removed.
3. Create a function named `more_than_n` that has three parameters named `lst`, `item`, and `n`. The function should return True if the item appears in the list more than n times. The function should return False otherwise.
4. Create a function named `more_frequent_item` that has three parameters named `lst`, item1, and item2.Return either item1 or item2 depending on which item appears more often in `lst`. If the two items appear the same number of times, return item1.
5. WAP to count the occurrences of multiple items in a list using a single loop?
6. Create a function called `middle_element` that has one parameter named `lst`. If there are an odd number of elements in `lst`, the function should return the middle element. If there are an even number of elements, the function should return the average of the middle two elements.
7. Write a function named `append_sum` that has one parameter named `lst`. The function should add the last two elements of `lst` together and append the result to `lst`. It should do this process three times and then return `lst`.
8. Write a function named `larger_list` that has two parameters named lst1 and lst2. The function should return the last element of the list that contains more elements. If both lists are the same size, then return the last element of lst1.
9. Write a function named `combine_sort` that has two parameters named lst1 and lst2.The function should combine these two lists into one new list and sort the result. Return the new sorted list.
10. Create a function called `every_three_nums` that has one parameter named start. The function should return a list of every third number between start and 100 (inclusive). For example, `every_three_nums(91)` should return the list [91, 94, 97, 100]. If the start is greater than 100, the function should return an empty list.
11. **Create a function named `divisible_by_ten()` that takes a list of numbers named `nums` as a parameter. Return the count of how many numbers in the list are divisible by 10.**
12. Write a function called `delete_starting_evens()` that has a parameter named `lst`. The function should remove elements from the front of `lst` until the front of the list is not even. The function should then return `lst`. For example if *`lst` started as `[4, 8, 10, 11, 12, 15]`, then `delete_starting_evens(lst)` should return `[11, 12, 15]`. Make sure your function works even if every element in the list is even!
13. Create a function named `reversed_list()` that takes two lists of the same size as parameters named `lst1`and `lst2`. The function should return `True` if `lst1` is the same as `lst2` reversed. The function should return `False` otherwise. For example, `reversed_list([1, 2, 3], [3, 2, 1])` should return `True`.

# Tuples
1. It is a list which is immutable
    * Immutable means that we can not change the element, number of elements and elements order.
    * For Example, no use of append function
2. All the functions of list can be applied to tuples such as sorting (only sorted can be used), count etc.
3. To create Tuple we use round brackets ( )
4. We can also conver list into tuple.
    * `new_tuple=tuple(list)`
5. To create a single element tuple use comma after the element. 
    * `one_element_Tuple = (element,) `

## Create Tuple

In [92]:
my_info=('Abhinav','28','Hokudai Student') 
print(my_info)
print(type(my_info))
print (my_info[0])  # Access first element
print (my_info[-1]) # Access last element
print (my_info[2])  # Access last element

('Abhinav', '28', 'Hokudai Student')
<class 'tuple'>
Abhinav
Hokudai Student
Hokudai Student

## Unpacking of tuple
Order of unpacking should match the data order in tuple

In [93]:
age,name,job=my_info # Wrong Unpacking
print('Name:', name)
name,age,job=my_info  # Right Unpacking
print('Name:', name)

Name: 28
Name: Abhinav

## Difference between tuple and list

In [94]:
my_info_list=['Abhinav','28','Hokudai Student']

In [95]:
# my_info[0] = 'Himanshu'

In [96]:
my_info_list[0] = 'Himanshu'
my_info_list

['Himanshu', '28', 'Hokudai Student']

In [97]:
one_element_tuple_no = (4)
print(one_element_tuple_no)
print(type(one_element_tuple_no))

4
<class 'int'>

In [98]:
one_element_tuple_yes = (4,)
print(one_element_tuple_yes)
print(type(one_element_tuple_yes))

(4,)
<class 'tuple'>

## Using range to create tuple

In [99]:
tuple_range=tuple(range(0,10))
print(tuple_range)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# Loops

# Dictionary

# String

# Functions in more detail