# Control Flow

# Functions

* SYNTAX:
```python3
def function_name(parameter_1,...,parameter_n):
    evaluate/calculate something 
    return something
```
* CALL
    ```python3
    function_name(argument_1,...,argument_n)
    ```

In [5]:
def mul_x_add_y(number,x,y):
    print(number*x+y)
mul_x_add_y(10,2,5)

25

In [6]:
def greet_customer(grocery_store, special_item):
    print("Welcome to "+ grocery_store + ".")
    print("Our special is " + special_item + ".")
    print("Have fun shopping!")
greet_customer("Stu's Staples", "papayas")

Welcome to Stu's Staples.
Our special is papayas.
Have fun shopping!

## Default parameter
```python3
    function_name(def_par1=par_1,par_2,...par_n):
        evaluate/calculate something
        return something
```
* **<span style="color:Red">NOTE:</span>** non-default arguments always come before default argument. If not then we will get synatx error when we call the function

In [9]:
def func(arg2,arg1=10, arg3=30):
    return arg1 + arg2 + arg3
print(func(20))

60

In [7]:
def func(arg1=10, arg2, arg3=30):
    return arg1 + arg2 + arg3
#print(func(20))

SyntaxError: non-default argument follows default argument (Temp/ipykernel_7468/4164828168.py, line 1)

##  Does the return always have to be the last line of code in the function?

When a return statement is run inside
of a function, the function will immediately terminate
and return that value, and none of the remaining code
lines in the function will run. 

Because of this,
functions usually have a return statement at the very
end, so that all the other lines of code in the
function will complete first before the function
terminates and returns a value

In [12]:
def example():
    total = 20
    return total
    # These lines will not run
    # because they follow a return.
    total += 10
    print(total)
    return total
example()

20

## Multiple Return in a function
* return data type: tuple

In [15]:
def square_point(x_value, y_value):
    x_2 = x_value * x_value
    y_2 = y_value * y_value
    return x_2, y_2
print(square_point(4,5))
print(type(square_point(4,5)))

(16, 25)
<class 'tuple'>

### Unpacking

In [16]:
x_squared, y_squared = square_point(1, 3)
print(x_squared)
print(y_squared)

1
9

# List
A list is an ordered set of objects in Python.

## Create List

In [38]:
heights_cm=[161,170,167,164,165]
heights_cm

[161, 170, 167, 164, 165]

### List Attributes

In [39]:
print(type(heights_cm))
print('Number of elements in the list ', len(heights_cm))
print('Maximum element in the list ', max(heights_cm))
print('Minimum element in the list ', min(heights_cm))
print('Sum of Elements', sum(heights_cm))

<class 'list'>
Number of elements in the list  5
Maximum element in the list  170
Minimum element in the list  161
Sum of Elements 827

### Range in python
1. Set of numbers
2. The function range takes a single input, and generates numbers starting at `0` and ending at the number before the input. i.e, `n-1`
3. Very important for loops

In [40]:
range(10)

range(0, 10)

In [41]:
print(type(range(10)))

<class 'range'>

### Make list using range

In [42]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
type(list(range(10)))

list

In [44]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
list(range(2,10,2))

[2, 4, 6, 8]

## Slicing and Selecting

### Select item for given index

In [46]:
heights_cm

[161, 170, 167, 164, 165]

In [47]:
first_object=heights_cm[0]
print(first_object)

161

In [48]:
last_object=heights_cm[-1]
print(last_object)
last_object2=heights_cm[len(heights_cm)-1]
print(last_object)

165
165

In [49]:
len(heights_cm)

5

### Slicing

In [50]:
heights_cm[::2]

[161, 167, 165]

In [51]:
heights_cm[2:4]

[167, 164]

In [52]:
heights_cm[4]

165

### Get Index of an item
```python3
list.index(item)
```

In [53]:
heights_cm.index(165)

4

### Can list elements be accessed in any order?
1. A list whose items are randomly accessed using the `randint()` function. 
2. `randint()` returns a random integer in range [start, end] including the end points.

In [54]:
elements = ['Hydrogen', 'Helium', 'Carbon', 'Oxygen','Nitrogen']

In [55]:
from random import randint
index = randint(0, len(elements) - 1)
print("Element selected randomly is :", elements[index],"; whose index is: ",index)
index = randint(0, len(elements) - 1)
print("Element selected randomly is :", elements[index],"; whose index is: ",index)

Element selected randomly is : Nitrogen ; whose index is:  4
Element selected randomly is : Nitrogen ; whose index is:  4

In [56]:
for count in range(5):
    index = randint(0, len(elements) - 1)
    print("for Count: ",count,", The element selected randomly is: ", elements[index],"; whose index is: ",index)

for Count:  0 , The element selected randomly is:  Nitrogen ; whose index is:  4
for Count:  1 , The element selected randomly is:  Carbon ; whose index is:  2
for Count:  2 , The element selected randomly is:  Nitrogen ; whose index is:  4
for Count:  3 , The element selected randomly is:  Nitrogen ; whose index is:  4
for Count:  4 , The element selected randomly is:  Carbon ; whose index is:  2

## Multiple DataTypes

A list can contain **multiple datatypes**.

In [57]:
ints_strings=[1,2,3,4,'1','one','two','2']
print(ints_strings)
print(type(ints_strings))
print(type(ints_strings[ints_strings.index('one')]))
print(type(ints_strings[ints_strings.index(1)]))

[1, 2, 3, 4, '1', 'one', 'two', '2']
<class 'list'>
<class 'str'>
<class 'int'>

## List within List

Several lists into one list

Below is a list of list of person names and their height

In [58]:
names_heights=[['Dengri',174],['Obama',178],['Biden',181],['Modi',169]]
print(names_heights)
print(type(names_heights))

[['Dengri', 174], ['Obama', 178], ['Biden', 181], ['Modi', 169]]
<class 'list'>

### Slicing and selection

In [59]:
names_heights[0]

['Dengri', 174]

In [60]:
names_heights[0][0]

'Dengri'

In [61]:
names_heights[::2]

[['Dengri', 174], ['Biden', 181]]

In [62]:
names_heights[0:2]

[['Dengri', 174], ['Obama', 178]]

### How to create list within list

#### Zip Command
1. `zip` takes **two (or more) lists as inputs** and **returns an object that contains a list of pairs**. Each pair contains one element from each of the inputs.To see the nested lists, **you should convert the zip object to a list** first.

**<span style="color:Red">NOTE:</span>** If both the lists don’t have the same number of elements even then the zip command will work. In that case it will return a list of pairs based on the smallest length of the list.

In [63]:
names = ['Jenny', 'Alexus', 'Sam', 'Grace']
dogs_names = ['Elphonse', 'Dr. Doggy DDS', 'Carter','Ralph']
print(names)
print(dogs_names)

['Jenny', 'Alexus', 'Sam', 'Grace']
['Elphonse', 'Dr. Doggy DDS', 'Carter', 'Ralph']

In [64]:
names_dogs_names=zip(names,dogs_names)
print(type(names_dogs_names))

<class 'zip'>

In [65]:
names_dogs_names_list=list(names_dogs_names)
print(names_dogs_names_list)
print(type(names_dogs_names_list))

[('Jenny', 'Elphonse'), ('Alexus', 'Dr. Doggy DDS'), ('Sam', 'Carter'), ('Grace', 'Ralph')]
<class 'list'>

In [66]:
print(type(names_dogs_names_list[0]))

<class 'tuple'>

In [67]:
names = ['Jenny', 'Alexus', 'Sam']
dogs_names = ['Elphonse', 'Dr. Doggy DDS', 'Carter','Ralph']
print(len(names))
print(len(dogs_names))
names_dogs_names_list=list(zip(names,dogs_names))
print(names_dogs_names_list)
print(len(names_dogs_names_list))

3
4
[('Jenny', 'Elphonse'), ('Alexus', 'Dr. Doggy DDS'), ('Sam', 'Carter')]
3

## Adding element to list

### Append
We can add a **single element** to a list using `.append()`. Our new element is added to the **end of the list**.

In [68]:
orders = ['daisies', 'periwinkle']
print(orders)
orders.append('tulips')
print(orders)
orders.append('roses') 
print(orders)

['daisies', 'periwinkle']
['daisies', 'periwinkle', 'tulips']
['daisies', 'periwinkle', 'tulips', 'roses']

### Adding two list
1. When we want to **add multiple items to a list**, we can use `+` to combine two lists. 
2. We can only use `+` with other lists. 
3. If we want to add a **single element** using `+`, we have to put it into a list with brackets ([])

In [2]:
orders = ['daisy', 'buttercup', 'snapdragon','gardenia', 'lily']
print (orders)
new_orders = orders + ['lilac', 'iris']
print (new_orders)
broken_prices = [5, 3, 4, 5, 4] + [4]
print (broken_prices)

['daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily']
['daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily', 'lilac', 'iris']
[5, 3, 4, 5, 4, 4]

### Insert
Adding element at desired position
```python3
list.insert(index,value)
```

In [3]:
orders.insert(0,'rose')
orders

['rose', 'daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily']

## Count Function
1. How many times a item is present inside the list.
2. `.count()` is **case sensitive** i.e. jakes != Jakes.

**<span style="color:Red">NOTE:</span>** count does not show error for an item which is not in the list

In [70]:
votes = ['Abhinav','Okachi','Maki','Dan','Maki','Dan','Maki','Dan','Abhinav','Okachi','Maki','Abhinav','Okachi','Maki']
print(votes)

['Abhinav', 'Okachi', 'Maki', 'Dan', 'Maki', 'Dan', 'Maki', 'Dan', 'Abhinav', 'Okachi', 'Maki', 'Abhinav', 'Okachi', 'Maki']

In [71]:
print(votes.count('Abhinav'))
print(votes.count('Okachi'))
print(votes.count('Maki'))
print(votes.count('dan'))

3
3
5
0

## Sorting of list
We can sort a list in place using `.sort()`
1. `.sort()` returns `none` $\rightarrow$ it changes the original list

**<span style="color:Red">NOTE:</span>** `.sort()` complex output is list is combination of Intergers and strings.

In [72]:
cities = ['London', 'Paris', 'Rome', 'Los Angeles', 'NewYork']
cities

['London', 'Paris', 'Rome', 'Los Angeles', 'NewYork']

In [73]:
cities.sort()

In [74]:
cities_sort=cities.sort()
cities_sort

In [75]:
cities

['London', 'Los Angeles', 'NewYork', 'Paris', 'Rome']

In [76]:
addresses = ['221 B Baker St.', '42 Wallaby Way', '12 Grimmauld Place', '742 Evergreen Terrace', '1600 Pennsylvania Ave', 
             '10 Downing St.']
addresses

['221 B Baker St.',
 '42 Wallaby Way',
 '12 Grimmauld Place',
 '742 Evergreen Terrace',
 '1600 Pennsylvania Ave',
 '10 Downing St.']

In [77]:
addresses.sort()
addresses

['10 Downing St.',
 '12 Grimmauld Place',
 '1600 Pennsylvania Ave',
 '221 B Baker St.',
 '42 Wallaby Way',
 '742 Evergreen Terrace']

`.sort()` sorts the list items using the first character of each item in the list

### Reverse Sort

In [78]:
cities.sort(reverse=True)
cities

['Rome', 'Paris', 'NewYork', 'Los Angeles', 'London']

### Sorting a list based on the sublist

In [79]:
names_and_ages=[["Sam" , 23], ["Vik", 30], ["Phil", 26],["John", 18]]

In [80]:
names_and_ages.sort()
names_and_ages

[['John', 18], ['Phil', 26], ['Sam', 23], ['Vik', 30]]

The `.sort()` function sorts on the `list[:][0]`, i.e., first item in each sublist

**How can we sort `names_and_ages` list on the basis of age?**

**<span style="color:Red"> NOTE: </span>** `key` parameter

In [81]:
def function_sort_index(item):
    return item[1]
names_and_ages.sort(key=function_sort_index)

In [82]:
names_and_ages

[['John', 18], ['Sam', 23], ['Phil', 26], ['Vik', 30]]

### Use sorted
Sorted is different from `.sort()` in several ways:
1. Syntax is different. It comes before a list, instead of after
```python3
.Syntax: sorted(list_name)
```
2. It generates a **new list**.

<span style="color:Red"> NOTE:</span> using sorted, the original list does not get sorted

In [83]:
cities = ['London', 'Paris', 'Rome', 'Los Angeles', 'NewYork']
cities_sorted=sorted(cities)
cities_sorted_reverse=sorted(cities,reverse=True)

In [84]:
cities

['London', 'Paris', 'Rome', 'Los Angeles', 'NewYork']

In [85]:
cities_sorted

['London', 'Los Angeles', 'NewYork', 'Paris', 'Rome']

In [86]:
cities_sorted_reverse

['Rome', 'Paris', 'NewYork', 'Los Angeles', 'London']

In [87]:
names_and_ages=[["Sam" , 23], ["Vik", 30], ["Phil", 26],["John", 18]]
names_and_ages_sorted=sorted(names_and_ages)
names_and_ages_sorted_agewise=sorted(names_and_ages,key=function_sort_index)

In [88]:
names_and_ages

[['Sam', 23], ['Vik', 30], ['Phil', 26], ['John', 18]]

In [89]:
names_and_ages_sorted

[['John', 18], ['Phil', 26], ['Sam', 23], ['Vik', 30]]

In [90]:
names_and_ages_sorted_agewise

[['John', 18], ['Sam', 23], ['Phil', 26], ['Vik', 30]]

## Remove element from the list

### Remove by index

In [101]:
cities

['London', 'Paris', 'Rome', 'Los Angeles']

In [102]:
del cities[-1]

In [103]:
cities

['London', 'Paris', 'Rome']

### Remove by item value

In [104]:
cities.remove('Paris')

In [105]:
cities

['London', 'Rome']

## Practice Programs

1. Create a function named `double_index` that has two parameters named `lst` and `index`. The function should return a new list where all elements are the same as in lst except for the element at index, which should be double the value of the element at index of lst. If the index is not a valid index, the function should return the original list. Use: print(double_index([3, 8, -10, 12], -4))
2. Create a function named `remove_middle` which has three parameters named `lst`, `start`, and `end`. The function should return a list where all elements in lst with an index between start and end (inclusive) have been removed.
3. Create a function named `more_than_n` that has three parameters named `lst`, `item`, and `n`. The function should return True if the item appears in the list more than n times. The function should return False otherwise.
4. Create a function named `more_frequent_item` that has three parameters named `lst`, item1, and item2.Return either item1 or item2 depending on which item appears more often in `lst`. If the two items appear the same number of times, return item1.
5. WAP to count the occurrences of multiple items in a list using a single loop?
6. Create a function called `middle_element` that has one parameter named `lst`. If there are an odd number of elements in `lst`, the function should return the middle element. If there are an even number of elements, the function should return the average of the middle two elements.
7. Write a function named `append_sum` that has one parameter named `lst`. The function should add the last two elements of `lst` together and append the result to `lst`. It should do this process three times and then return `lst`.
8. Write a function named `larger_list` that has two parameters named lst1 and lst2. The function should return the last element of the list that contains more elements. If both lists are the same size, then return the last element of lst1.
9. Write a function named `combine_sort` that has two parameters named lst1 and lst2.The function should combine these two lists into one new list and sort the result. Return the new sorted list.
10. Create a function called `every_three_nums` that has one parameter named start. The function should return a list of every third number between start and 100 (inclusive). For example, `every_three_nums(91)` should return the list [91, 94, 97, 100]. If the start is greater than 100, the function should return an empty list.
11. **Create a function named `divisible_by_ten()` that takes a list of numbers named `nums` as a parameter. Return the count of how many numbers in the list are divisible by 10.**
12. Write a function called `delete_starting_evens()` that has a parameter named `lst`. The function should remove elements from the front of `lst` until the front of the list is not even. The function should then return `lst`. For example if *`lst` started as `[4, 8, 10, 11, 12, 15]`, then `delete_starting_evens(lst)` should return `[11, 12, 15]`. Make sure your function works even if every element in the list is even!
13. Create a function named `reversed_list()` that takes two lists of the same size as parameters named `lst1`and `lst2`. The function should return `True` if `lst1` is the same as `lst2` reversed. The function should return `False` otherwise. For example, `reversed_list([1, 2, 3], [3, 2, 1])` should return `True`.

# Tuples
1. It is a list which is immutable
    * Immutable means that we can not change the element, number of elements and elements order.
    * For Example, no use of append function
2. All the functions of list can be applied to tuples such as sorting (only sorted can be used), count etc.
3. To create Tuple we use round brackets ( )
4. We can also conver list into tuple.
    * `new_tuple=tuple(list)`
5. To create a single element tuple use comma after the element. 
    * `one_element_Tuple = (element,) `

## Create Tuple

In [92]:
my_info=('Abhinav','28','Hokudai Student') 
print(my_info)
print(type(my_info))
print (my_info[0])  # Access first element
print (my_info[-1]) # Access last element
print (my_info[2])  # Access last element

('Abhinav', '28', 'Hokudai Student')
<class 'tuple'>
Abhinav
Hokudai Student
Hokudai Student

## Unpacking of tuple
Order of unpacking should match the data order in tuple

In [93]:
age,name,job=my_info # Wrong Unpacking
print('Name:', name)
name,age,job=my_info  # Right Unpacking
print('Name:', name)

Name: 28
Name: Abhinav

## Difference between tuple and list

In [94]:
my_info_list=['Abhinav','28','Hokudai Student']

In [95]:
# my_info[0] = 'Himanshu'

In [96]:
my_info_list[0] = 'Himanshu'
my_info_list

['Himanshu', '28', 'Hokudai Student']

In [97]:
one_element_tuple_no = (4)
print(one_element_tuple_no)
print(type(one_element_tuple_no))

4
<class 'int'>

In [98]:
one_element_tuple_yes = (4,)
print(one_element_tuple_yes)
print(type(one_element_tuple_yes))

(4,)
<class 'tuple'>

## Using range to create tuple

In [99]:
tuple_range=tuple(range(0,10))
print(tuple_range)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# Loops

# Dictionary

A dictionary is an **unordered** set of **key: value** pairs
```python3
dict_name={"key1":value1, "key2":value2}
```

In [2]:
sensor_temperature={"living_room":28, "kitchen":32, "bedroom":20, "pantry":24}
print(type(sensor_temperature))
print(sensor_temperature)

<class 'dict'>
{'living_room': 28, 'kitchen': 32, 'bedroom': 20, 'pantry': 24}

**<span style="color:Red">NOTE:</span>** 
1. A dictionary cannot have two keys with the same values.
2. If a key needs to store multiple values, then the value associated with the key should be a list or another dictionary

## Key and Value data types

`Key` can be a **number or a string** only but `value` can be a **number, string, list or another dictionary**. 

If we input key as a list or dictionary we will get `‘type error’`

## Empty Dictionary
```
my_empty_dictionary={}
```

An empty dictionary (or other containers) will evaluate a Boolean `False`.

In [13]:
dict_empty={}
if bool(dict_empty):
    print('Non Empty Dictionary')
else:
    print('Empty Dictionary')

Empty Dictionary

In [4]:
list_empty=[]
if bool(list_empty):
    print('Non Empty List')
else:
    print('Empty List')

Empty List

## Add a Key
```
dict_name["new_key"] = "new_value"
```

In [14]:
dict_empty['livingRoom_temperature']=32
print(dict_empty)

{'livingRoom_temperature': 32}

## Add Multiple Key: Value pair
```python3
dict_name.update({"key1": value, "key2": value})
```

In [15]:
dict_empty.update({"kitchenTemperature":32, "PanteryTemperature": 30})
print(dict_empty)

{'livingRoom_temperature': 32, 'kitchenTemperature': 32, 'PanteryTemperature': 30}

## Overwrite Value
```python3
dict["key"]="new_value"
```

In [16]:
dict_empty["kitchenTemperature"]=36
print(dict_empty)

{'livingRoom_temperature': 32, 'kitchenTemperature': 36, 'PanteryTemperature': 30}

## List Comprehensions to Dictionary
Combine two list into dictionary
```python3
new_dict={key:value for key,value in zip(list1,list2)}
```

In [17]:
names=['abhinav','chetna','chestha','manan','yukimi']
age=[29,24,20,0,38]

list comprehension

In [18]:
list(zip(names,age))

[('abhinav', 29),
 ('chetna', 24),
 ('chestha', 20),
 ('manan', 0),
 ('yukimi', 38)]

In [19]:
names_age={key:value for key,value in zip(names,age)}
names_age

{'abhinav': 29, 'chetna': 24, 'chestha': 20, 'manan': 0, 'yukimi': 38}

## Get the values for a Key
```python3
print(dict["key_name"]
```

In [20]:
print(names_age['abhinav'])

29

## Get an the value for the Invalid Key
If we try to access a **key which is not present** we get a `key error`.

First we should check if the key is present or not.

### How to check the valid keys?

#### If and else

In [21]:
key_to_check='vinesh'
if key_to_check in names_age:
    print(names_age[key_to_check])
else:
    print('No such keys')

No such keys

In [22]:
key_to_check='abhinav'
if key_to_check in names_age:
    print(names_age[key_to_check])
else:
    print('No such keys')

29

#### Try/Except

In [23]:
key_to_check='vinesh'
try:
    print(names_age[key_to_check])
except KeyError:
    print('No such Keys!')

No such Keys!

In [24]:
key_to_check='abhinav'
try:
    print(names_age[key_to_check])
except KeyError:
    print('No such Keys!')

29

### Safely Get a key: `.get()`
Dictionaries have a `.get()` method to search for a `value` instead of the `my_dict[key]` notation we have been using. 

If the key you are trying to `.get()` does not exist, it will return `None` by default:

```python3
dict.get("key",default_val)
```
You can also specify a value to return if the key doesn’t exist using `default_val`.

In [25]:
names_age.get('vinesh',0)

0

In [26]:
names_age.get('abhinav',0)

29

## Delete a Key: `.pop()`
Get a key and remove it. We have to return the value for a key and also remove it. For example, lottery number.
```python3
dict.pop('key',default_val)
```

Just like with `.get()`, we can provide a default value to return if the key does not exist in the dictionary.

`.pop()` returns the key error if the key is not found. Therefore it is better to provide for the default value if the key is not found.

In [27]:
names_age

{'abhinav': 29, 'chetna': 24, 'chestha': 20, 'manan': 0, 'yukimi': 38}

In [28]:
names_age['vinesh']=50
names_age

{'abhinav': 29,
 'chetna': 24,
 'chestha': 20,
 'manan': 0,
 'yukimi': 38,
 'vinesh': 50}

In [32]:
names_age.pop('Vinesh',0)

0

In [30]:
names_age.pop('vinesh',0)

50

In [31]:
names_age

{'abhinav': 29, 'chetna': 24, 'chestha': 20, 'manan': 0, 'yukimi': 38}

## Get all the Keys
### List Function
Get all the keys present in the dictionary.
```python3
list(dict_name)
```
* It will return `list` object

In [33]:
list(names_age)

['abhinav', 'chetna', 'chestha', 'manan', 'yukimi']

In [34]:
building_heights = {"Burj Khalifa": 828, "Shanghai Tower": 632, "Abraj Al Bait": 601, "Ping An": 599,
                    "Lotte World Tower": 554.5, "One World Trade": 541.3}
building_heights

{'Burj Khalifa': 828,
 'Shanghai Tower': 632,
 'Abraj Al Bait': 601,
 'Ping An': 599,
 'Lotte World Tower': 554.5,
 'One World Trade': 541.3}

In [35]:
list(building_heights)

['Burj Khalifa',
 'Shanghai Tower',
 'Abraj Al Bait',
 'Ping An',
 'Lotte World Tower',
 'One World Trade']

In [37]:
print(type(list(building_heights)))

<class 'list'>

### `.Keys()` Method
Dictionaries also have a `.keys()` method that returns a `dict_keys object`.

A `dict_keys object` is a view object, which provides a look at the current state of the dicitonary, without the user being able to modify anything.

In [39]:
print(names_age.keys())

dict_keys(['abhinav', 'chetna', 'chestha', 'manan', 'yukimi'])

In [41]:
for names in names_age.keys():
    print(names)

abhinav
chetna
chestha
manan
yukimi

<code style="background:yellow;color:black">Looping through all the keys in reverse order </code>

In [53]:
for names in sorted(names_age.keys(),reverse=True):
    print(names)

yukimi
manan
chetna
chestha
abhinav

## Get all the values present in the dictionary: `.values()`
Dictionaries have a `.values()` method that returns a `dict_values` object (just like a `dict_keys` object but for values!) with all of the values in the dictionary. There is **no built-in function to get all of the values as a list**, but if you really want to, you can use:

```python3
list(test_scores.values())
```

In [44]:
ages=names_age.values()

In [45]:
ages

dict_values([29, 24, 20, 0, 38])

**<span style="color:Red">NOTE:</span>** However, for most purposes, the `dict_value` object will act the way you want a list to act.

In [48]:
print(sorted(ages))
print(sum(ages))

[0, 20, 24, 29, 38]
111

In [43]:
list(names_age.values())

[29, 24, 20, 0, 38]

## Get all items `.items()`

* You can get both the keys and the values with the `.items()` method. Like `.keys()` and `.values()`, it returns a `dict_lis` object. 
* Each element of the dict_list returned by `.items()` is a **tuple** consisting of:(key, value) so to iterate through.

<code style="background:yellow;color:black">Useful for looping through a dictionary</code>

In [49]:
biggest_brands = {"Apple": 184, "Google": 141.7,"Microsoft": 80, "Coca-Cola": 69.7, "Amazon": 64.8}

In [50]:
biggest_brands.items()

dict_items([('Apple', 184), ('Google', 141.7), ('Microsoft', 80), ('Coca-Cola', 69.7), ('Amazon', 64.8)])

In [52]:
for company,value in biggest_brands.items():
    print(company + " has a value of " + str(value) + " billion dollars. ")

Apple has a value of 184 billion dollars.
Google has a value of 141.7 billion dollars.
Microsoft has a value of 80 billion dollars.
Coca-Cola has a value of 69.7 billion dollars.
Amazon has a value of 64.8 billion dollars.

## Nesting- A list of dictionaries
Useful to store a set of dictionaries in a list;this is called nesting.

In [54]:
# Start with an empty list.
users = []
# Make a new user, and add them to the list.
new_user = {
 'last': 'fermi',
 'first': 'enrico',
 'username': 'efermi',
 }
users.append(new_user)
# Make another new user, and add them as well.
new_user = {
 'last': 'curie',
 'first': 'marie',
 'username': 'mcurie',
 }
users.append(new_user)

In [58]:
for user_dict in users:
 for k, v in user_dict.items():
     print(f"{k}: {v}")
 print("=================")

last: fermi
first: enrico
username: efermi
=================
last: curie
first: marie
username: mcurie
=================

## Nesting ‒ Lists in a dictionary
Storing a list inside a dictionary allows you to associate more than one value with each key

In [60]:
# Store multiple languages for each person.
fav_languages = {
 'jen': ['python', 'ruby'],
 'sarah': ['c'],
 'edward': ['ruby', 'go'],
 'phil': ['python', 'haskell'],
}
# Show all responses for each person.
for name, langs in fav_languages.items():
 print(f"{name}: ")
 for lang in langs:
     print(f"- {lang}")

jen:
- python
- ruby
sarah:
- c
edward:
- ruby
- go
phil:
- python
- haskell

## Dictionary Comprehensions* 
* A comprehension is a compact way of generating a dictionary, similar to a list comprehension. 

* To make a dictionary comprehension, define an expression for the key-value pairs you want to make. 

* Then write a for loop to generate the values that will feed into this expression.

### Using loop to make a dictionary

In [63]:
squares = {}
for x in range(5):
 squares[x] = x**2
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### Using a dictionary comprehension

In [66]:
squares = {x:x**2 for x in range(5)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

# String

## What is a string

* A string is a sequence of characters. 
* It can be any length and can **contain any letters, numbers, symbols, and spaces.**
* A string can be thought of as a `list of characters`. Like any other list, each character in a string has an `index`.

In [2]:
mystring='Abhi1234#  '
print(type(mystring))
print(mystring)
print(mystring[0])
print(len(mystring))

<class 'str'>
Abhi1234#
A
11

In [4]:
print(mystring[3:8])
print(mystring[:5])

i1234
Abhi1

In [5]:
message = "MXeXeXtX XmXeX XaXtX XtXhXeX XpXaXrXkX"
# Message string is not clear, using the slicing make this string clear.
message[::2]

'Meet me at the park'

## Various ways to print the strings

In [13]:
print("Hello world")
print("Hello world, \"my world\"")
print("Hello world, \n\"my world\"")
print('It\'s a sunny day')
print("It's a sunny day")
print("\"Delia said, 'This will never work.'\" ")

Hello world
Hello world, "my world"
Hello world,
"my world"
It's a sunny day
It's a sunny day
"Delia said, 'This will never work.'"

In [12]:
a=10
b=15
c=a*b
print(a,b,c, sep='\n') #sep is used to seprate the
print(a,b,c, sep='\n\n') #sep is used to seprate the
print(a,b,c,sep='\t')
print(a,b,c,sep='\t\t')

10
15
150
10

15

150
10	15	150
10		15		150

## Multiline strings

In [14]:
to_you='''
Stranger, if you passing meet me and desire to speak
to me, why
should you not speak to me?
And why should I not speak to you?
'''
print(to_you)

Stranger, if you passing meet me and desire to speak
to me, why
should you not speak to me?
And why should I not speak to you?

## Concatenate strings

* Strings can be concatenated using `+`.
* `+` joins the strings without any space.

In [15]:
fruit_prefix = "blue"
fruit_suffix = "berries"
favorite_fruit = fruit_prefix + fruit_suffix
print(favorite_fruit)

blueberries

In [16]:
fruit_prefix = "blue "
fruit_suffix = "berries"
favorite_fruit = fruit_prefix + fruit_suffix
print(favorite_fruit)

blue berries

In [18]:
fruit_sentence = "My favorite fruit is " + favorite_fruit
print (fruit_sentence)

My favorite fruit is blue berries

## length of string: `len()`

* **spaces** are counted as well.
* `len()` comes in handy when we are trying to select the last character in a string.
* Using a `len()` statement as the starting index and omitting the final index lets you slice n characters from the end of a string where `n` is the amount you subtract from `len()`.

In [20]:
cool_fruit='watermelon'
print(cool_fruit[len(cool_fruit)-2])
print(cool_fruit[len(cool_fruit)-2:])

o
on

## Strings are immutable

* This means that we cannot change a string once it is created. 
* We can use it to create other strings, but we cannot change the string itself.
* If we try to replace it gives us `TypeError`

In [25]:
first_name='Bob'
#first_name[0]='R'

In [24]:
First_name = "Bob"
last_name = "Daily"
#first_name[0]="R" #Type Error
fixed_first_name="R"+first_name[1:]
print(fixed_first_name)

Rob

## Escape characters

* By adding a backslash in front of the special character we want to escape,`\`, we can include it in a string. 
* We have to add a backslash (`\`) before a special character. 
* Also the **escape character is not counted in length**.

In [26]:
password = "theycallme\"crazy\"91"
print(password)

theycallme"crazy"91

## String Iterations

* Strings are `lists`, that means we can iterate through a string using `for` or `while` loops.

In [27]:
name='Ramesh'
for char in name:
    print(char)

R
a
m
e
s
h

In [28]:
name='Ramesh'
counter=0
for char in name:
    counter=counter+1
print(counter)

6

## Strings and condition

Write a function called `letter_check` that takes two inputs, `word` and `letter`.This function should return `True` if the word contains the letter and `False` if it does not.

In [31]:
def letter_check(word,letter):
    for ltr in word:
        if letter==ltr:
            print('present')
            return True
        else:
            print('not present')
            return False
print(letter_check('ramesh','r'))
print(letter_check('ramesh','R'))

present
True
not present
False

## String casing

* There are three string methods that can change the casing of a string. 
* These are `.lower()`, `.upper()`, and `.title()`.
* It’s important to remember that string methods **can only create new strings, they do not change the original string**.

In [34]:
poem_title = "spring storm"
poem_author = "William Carlos Williams"
poem_author2 = "WILLIAM CARLOS WILLIAMS"
poem_title_fixed=poem_title.title()
print(poem_title_fixed)
poem_author_fixed=poem_author.upper()
print(poem_author_fixed)
poem_author_fixed2=poem_author2.lower()
print(poem_author_fixed2)

Spring Storm
WILLIAM CARLOS WILLIAMS
william carlos williams

## `.split()`

* It is performed on a string, takes **one argument**, and **returns a list of substrings found between the given argument** (which in the case of .`split()` is known as the `elimiter`).
* If you do not provide an argument for `.split()` it will **efault** to splitting at `‘spaces’`.
* `\n` Newline
* `\t` Horizontal Tab

In [35]:
line_one = "The sky has given over"
line_one_words=line_one.split()
print(line_one_words)

['The', 'sky', 'has', 'given', 'over']

In [36]:
line_one = "The sky has given over"
line_one_words=line_one.split('e')
print(line_one_words)

['Th', ' sky has giv', 'n ov', 'r']

In [37]:
authors = "Audre Lorde,Gabriela Mistral,Jean Toomer,An Qi,Walt Whitman,Shel Silverstein,Carmen Boullosa,Kamala Suraiyya,\
Langston Hughes,Adrienne Rich,Nikki Giovanni"
authors_name=authors.split(',')
print(authors_name)

['Audre Lorde', 'Gabriela Mistral', 'Jean Toomer', 'An Qi', 'Walt Whitman', 'Shel Silverstein', 'Carmen Boullosa', 'Kamala Suraiyya', 'Langston Hughes', 'Adrienne Rich', 'Nikki Giovanni']

How to extract only the last names of the authors?

In [38]:
for name in authors_name:
    lst_name=name.split(' ')[-1]
    print(lst_name)

Lorde
Mistral
Toomer
Qi
Whitman
Silverstein
Boullosa
Suraiyya
Hughes
Rich
Giovanni

In [39]:
smooth_chorus = \
"""And if you said, "This life ain't good enough."
I would give my world to lift you up
I could change my life to better suit your mood
Because you're so smooth"""
chorus_lines = smooth_chorus.split('\n')
print(chorus_lines)

['And if you said, "This life ain\'t good enough."', 'I would give my world to lift you up', 'I could change my life to better suit your mood', "Because you're so smooth"]

## Joinning Strings: `.join()`

* It is essentially the opposite of `.split()`, it joins a **list of strings** together with a given delimiter. 
* SYNTAX:
    ```python3
    'delimiter'.join(list_you_want_to_join)
    ```

In [40]:
reapers_line_one_words = ["Black", "reapers", "with", "the", "sound", "of", "steel", "on", "stones"]
reapers_line_one=" ".join(reapers_line_one_words)
print(reapers_line_one)

Black reapers with the sound of steel on stones

In [43]:
reapers_line_one_words = ["Black", "reapers", "with", "the", "sound", "of", "steel", "on", "stones"]
reapers_line_one=",".join(reapers_line_one_words)
print(reapers_line_one)

Black,reapers,with,the,sound,of,steel,on,stones

In [42]:
reapers_line_one_words = ["Black", "reapers", "with", "the", "sound", "of", "steel", "on", "stones"]
reapers_line_one="\n".join(reapers_line_one_words)
print(reapers_line_one)

Black
reapers
with
the
sound
of
steel
on
stones

## `.strip()`

When working with strings that come from real data, you will often find that the strings aren’t super clean. 
* You’ll find lots of extra whitespace, unnecessary line breaks, and rogue tabs. 
* Python provides a great method for cleaning strings.: `.strip()`. 
    * It does not modifies original string
* Stripping a string **removes all whitespace characters from the beginning and end**.

In [72]:
featuring = "!!!rob thomas       !!!!!"
print(len(featuring))
featuring_strip_exclaim=featuring.strip('!')
print(featuring_strip_exclaim)
print(len(featuring_strip_exclaim))
featuring_strip_exclaim_space=featuring_strip_exclaim.strip()
print(featuring_strip_exclaim_space)
print(len(featuring_strip_exclaim_space))

25
rob thomas
17
rob thomas
10

First, we need to strip from outer side and then proceed inwards

In [73]:
featuring = "!!!rob thomas       !!!!!"
featuring_strip_space=featuring.strip()
print(featuring_strip_space)
print(len(featuring_strip_space))

!!!rob thomas       !!!!!
25

## `.replace()`

* Replace takes **two arguments** and replaces all instances of the first argument in a string with the second argument.
* **<span style="color:Red">NOTE:</span>** it does not modify original string
   ```python3
   string_name.replace(character_being_replaced,new_character)
```

In [74]:
sentence='I study in Tokyo Univeristy'

In [76]:
sentence_replace=sentence.replace('Tokyo','Hokkaido')
print(sentence)
print(sentence_replace)

I study in Tokyo Univeristy
I study in Hokkaido Univeristy

## `.find()`

* `find()` takes a string as an argument and searches for the string it was run on for that string. 
* It then returns the **first index value** where that string is located.

In [77]:
sentence.find('in')

8

In [79]:
target = "abc"
string = "abcdababcd"
indices = []
for i in range(len(string)):
    if string[i:i+len(target)] == target:
        indices.append(i)
        print(indices) # [0, 6]

[0]
[0, 6]

## `.format()`

* Handy string method for **including variables in strings**. 
* `.format()` takes variables as an argument and includes them in the string that it is run on.
* You include `{}` marks as placeholders for where those variables will be imported.

In [82]:
print('my favourite song is {song} of movie {movie}'.format(song='Dil to pagal hai',movie='Dil se'))

my favourite song is Dil to pagal hai of movie Dil se

In [87]:
def poem_title_card(poet,title):
    return '''The poem "{title}" is written by {poet}.'''.format(title=title,poet=poet)
print(poem_title_card("Abhinav Dengri","My India"))

The poem "My India" is written by Abhinav Dengri.

### Integer

In [84]:
a = 10
b = 20
print(type(a))
print("{} + {} = {}".format(a, b, a+b)) #Thus we can have any input data type in format.

<class 'int'>
10 + 20 = 30

# Functions in more detail

## None: It's nothing!

<code style="background:yellow;color:black">How do you define a variable that you can’t assign a value to yet? You use None.</code>

`None` is a special value in Python. It is `unique` (there
can’t be two different Nones) and `immutable` (you can’t
update None or assign new attributes to it).

`None` is **falsy**, meaning that it evaluates to `False` in an `if` statement.

In [46]:
none_var = None
if none_var:
    print("Hello!")
else:
    print("Goodbye")
# Prints "Goodbye

Goodbye

In [50]:
print(type(none_var))

<class 'NoneType'>

In [52]:
none_var = 2
print(none_var)

2

## Default Return

<code style="background:yellow;color:black">What does a function return when it doesn’t return anything?</code>

A Python function that does not have
any explicit return statement will return `None` after
completing. 

This means that all functions in Python
return something, whether it’s explicit or not.

In [55]:
def no_return():
    print("You've hit the point of no return")
    # notice no return statement
here_it_is = no_return()
print(here_it_is)
print(type(here_it_is))

You've hit the point of no return
None
<class 'NoneType'>

## Default Argument

* A standard function definition that defines two parameters requires two arguments passed into the function.

In [61]:
def create_user(username,password):
    return username,password
# Function call with all two required arguments
create_user('johnny_thunder','1234')

('johnny_thunder', '1234')

In [62]:
user1=create_user('johnny_thunder', True)
print(user1)

('johnny_thunder', True)

In [64]:
# Raises a "TypeError: Missing 1 required positional argument"
# user2 = create_user('djohansen')

### How to overcome "TypeError: Missing required positional argument"

* If we give a `default argument` to a Python function that argument won’t be required when we call the function.
* The parameter with default argument is called `optional parameter`.

In [66]:
def create_user(username,password='abc#123'):
    return username,password

In [67]:
user2 = create_user('djohansen')
print(user2)

('djohansen', 'abc#123')

## Using Keyword and Positional Arguments

In [37]:
## Keyword Arguments

In [38]:
## Don't Use Mutable Default Arguments

In [39]:
## Using None as a Sentinel

In [40]:
## Unpacking Multiple Returns

In [41]:
## Positional Argument Unpacking

In [42]:
## Keyword Argument Unpacking

In [43]:
## Using Both Keyword and Positional Unpacking

In [44]:
## Passing Containers as Arguments

# Miscellaneous

## Limiting the decimal of float

In [4]:
a=10.9459
print("%.3f"%a)
print("%.2f"%a)
print("%.1f"%a)

10.946
10.95
10.9

## Guess the output

In [25]:
def first_three_multiples(num):
    return print(str(num*1) + chr(10) + str(num*2) + chr(10) + str(num*3))
#first_three_multiples(3)

In [26]:
def first_three_multiples(num):
    return print(f"{num}\n{num * 2}\n{num * 3}")
#first_three_multiples(3)

In [27]:
def first_three_multiples(num):
    return print(num,num*2,num*3,sep='\n')
#first_three_multiples(3)

In [28]:
def dog_years(name,age):
    dog_age=age*7
    return (print(name,", you are", dog_age,"years old in dog years"))
#dog_years("Lola", 16)

In [29]:
def dog_years(name, age):
    return name+", you are "+str(age*7)+" years old in dog years"
#print(dog_years("Lola", 16))

In [30]:
my_baby_bool = "true"
#print(type(my_baby_bool))
my_baby_bool_two = True
#print(type(my_baby_bool_two))

## Types of division

In [31]:
print(5/3,-5/3)

1.6666666666666667 -1.6666666666666667

### Integer division

In [32]:
print(5//3,-5//3,5//(-3))

1 -2 -2

In [34]:
print(5.0//3, -5//3.0) ##Integer division with floats

1.0 -2.0